.container
{
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}
body{
    background-color: rgb(87,85,85);
    color:white;
  }
  
  .container
  {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  
  }
  .box
  {
  
  font-size: 25px;
  padding: 0 180px 0 180px;
  text-align: start;
  margin: 10%;
  }
  .oh
  {
  
  width: 100%;
  height: 100px;
  
  }
  
  h1{
  display: flex;
  justify-content: center;
  }
  .gg
  {
    width: 100%;
  height: 100px;
    background-color:black;
  }
  
  img{
    width: 100%;
    height: 300x;
  }
 
    .ggg
    {

        width: 100%;
        height: 100px;
      background-color:rgb(57,83,41);
    margin: auto;

    }
 .ceo
 {
    width: 100%;
    height: 100px;
  background-color:rgb(57,83,41);
margin: auto;


 }
 @media(max-width: 724px)
 {
    body 
    {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    img{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .box
    {
        padding: 0;
        margin: 0;
    }

    p{
        text-align: justify;
        padding: 10px;
    }
 }